# **Â¿Como crear un DataFrame en Python?**

---

# **1.	Desde un archivo csv**

### **Paso 1. Importamos Pandas**

In [ ]:
import pandas as pd

### **Paso 2. Cargamos el archivo CSV**

In [ ]:
from google.colab import files
files.upload()

Saving calificacion_alumnos.csv to calificacion_alumnos (2).csv

{'calificacion_alumnos.csv': b'\xef\xbb\xbfid ,nombre ,apellido,biologia ,matematicas ,idiomas\r\n12345,juan,perez,4.5,3,3.8\r\n22346,mateo ,sanchez,2,3.9,5\r\n34567,esteban,carmona,2.6,4,2.3\r\n41235,luis,sinisterra,4,5,3.5\r\n51234,lili,valencia,4,3,4.2\r\n'}

### **Paso 3. Leer e imprimir el archivo CSV**

In [ ]:
df_notas_alumnos = pd.read_csv('calificacion_alumnos (2).csv')
print(df_notas_alumnos)

     id   nombre     apellido  biologia   matematicas   idiomas
0  12345     juan       perez        4.5           3.0      3.8
1  22346   mateo      sanchez        2.0           3.9      5.0
2  34567  esteban     carmona        2.6           4.0      2.3
3  41235     luis  sinisterra        4.0           5.0      3.5
4  51234     lili    valencia        4.0           3.0      4.2

# **2. Desde una lista de diccionarios. Se construye fila por fila**

### **Paso 1. Importamos Pandas**

In [ ]:
import pandas as pd

### **Paso 2. Construimos la lista**

In [ ]:
notas_alumnos_list = [
                     {'id': 12345, 'nombre': 'juan', 'apellido': 'perez', 'biologia': 4.5, 'matematicas': 3.0, 'idiomas': 3.8},
                     {'id': 22346, 'nombre': 'mateo', 'apellido': 'sanchez', 'biologia': 2.0, 'matematicas': 3.9, 'idiomas': 5.0},
                     {'id': 34567, 'nombre': 'esteban', 'apellido': 'carmona', 'biologia': 2.6, 'matematicas': 4.0, 'idiomas': 2.3},
                     {'id': 41235, 'nombre': 'luis', 'apellido': 'sinisterra', 'biologia': 4.0, 'matematicas': 5.0, 'idiomas': 3.5},
                     {'id': 51234, 'nombre': 'lili', 'apellido': 'valencia', 'biologia': 4.0, 'matematicas': 3.0 , 'idiomas': 4.2}
]

### **Paso 3. Convertimos la lista en DataFrame e imprimimos**

In [ ]:
df_notas_alumnos_list = pd.DataFrame(notas_alumnos_list)
print(df_notas_alumnos_list)

      id   nombre    apellido  biologia  matematicas  idiomas
0  12345     juan       perez       4.5          3.0      3.8
1  22346    mateo     sanchez       2.0          3.9      5.0
2  34567  esteban     carmona       2.6          4.0      2.3
3  41235     luis  sinisterra       4.0          5.0      3.5
4  51234     lili    valencia       4.0          3.0      4.2

# **3.	Desde un diccionario de listas. Se construye columna por columna**

### **Paso 1. Importamos Pandas**

In [ ]:
import pandas as pd

### **Paso 2. Construimos el diccionario**

In [ ]:
notas_alumnos_dicc = {
    'id': [12345, 22346, 34567, 41235, 51234 ],
    'nombre': ['juan', 'mateo', 'esteban', 'luis', 'lili'],
    'apellido': ['perez', 'sanchez', 'carmona', 'sinisterra', 'valencia'],
    'biologia': [4.5, 2.0, 2.6, 4.0, 4.0],
    'matematicas': [3.0, 3.9, 4.0, 5.0, 3.0],
    'idiomas': [3.8, 5.0, 2.3, 3.5, 4.2]
}

### **Paso 3. Convertimos el diccionario en DataFrame e imprimimos**

In [ ]:
df_notas_alumnos_dicc = pd.DataFrame(notas_alumnos_dicc)
print(df_notas_alumnos_dicc)

      id   nombre    apellido  biologia  matematicas  idiomas
0  12345     juan       perez       4.5          3.0      3.8
1  22346    mateo     sanchez       2.0          3.9      5.0
2  34567  esteban     carmona       2.6          4.0      2.3
3  41235     luis  sinisterra       4.0          5.0      3.5
4  51234     lili    valencia       4.0          3.0      4.2